---
import Content from "./Content.astro";

interface Props {
  title?: string;
  body?: string;
  colSpan?: string;
  rowSpan?: string;
  href?: string;
  className?: string;
  target?: string;
}

const { title, body, colSpan, rowSpan, href, className, target } = Astro.props;
---

<div
  class={`${className} overflow-hidden rounded-lg p-6 h-auto ${
    colSpan || "md:col-span-2"
  } ${rowSpan || ""}`}
>
  {
    href ? (
      <a href={href} class="h-full w-full" target={target}>
        <Content title={title} body={body}>
          <slot />
        </Content>
      </a>
    ) : (
      <Content title={title} body={body}>
        <slot />
      </Content>
    )
  }
</div>
