---
interface Props {
  image: string;
  alt: string;
  title: string;
  description: string;
  githubLink: string;
  liveLink: string;
  techStack: string[];
}

const { image, title, description, githubLink, liveLink, alt, techStack } =
  Astro.props;
---

<article class="rounded-md">
  <img src={image} alt={alt} class="rounded-md" />
  <div class="flex flex-col gap-3 py-6">
    <h2 class="text-4xl font-bold">{title}</h2>
    <p class="">{description}</p>
    <div class="text-xs opacity-75">
      Built with: {techStack}
    </div>
  </div>
  <div class="flex gap-4 justify-end items-center py-6">
    <a
      href={githubLink}
      class="rounded-full hover:-translate-y-1 hover:text-violet-700 duration-150 transition-[translate, text]"
      target="_blank">Github</a
    >
    <span>|</span>
    <a
      href={liveLink}
      class="rounded-full hover:-translate-y-1 hover:text-violet-700 duration-150 transition-[translate, text]"
      target="_blank">Live</a
    >
  </div>
</article>
