---
interface Props {
  image: string;
  alt: string;
  title: string;
  description: string;
  githubLink: string;
  liveLink: string;
  techStack: string[];
}

const { image, title, description, githubLink, liveLink, alt, techStack } =
  Astro.props;

// Animations
import "../styles/animations.css";
---

<article class="rounded-md fade w-full h-72 relative overflow-hidden group">
  <div class="absolute inset-0 w-full h-full">
    <img
      src={image}
      alt={alt}
      class="absolute inset-0 w-full h-full object-cover transition-transform duration-500 transform scale-100 group-hover:scale-150 opacity-30"
    />
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

  <div class="rounded-lg relative z-10 flex flex-col justify-between h-full">
    <div class="flex flex-col gap-3 py-6 px-4">
      <h2 class="text-4xl font-bold">{title}</h2>
      <p class="text-sm">{description}</p>
      <div class="text-xs opacity-35">
        Built with: {techStack}
      </div>
    </div>
    <div class="flex gap-4 justify-end items-center py-6 pr-6">
      <a
        href={githubLink}
        class="rounded-full hover:-translate-y-1 hover:text-violet-700 duration-150 transition-[translate, text]"
        target="_blank"
      >
        Github</a
      >
      <span>|</span>
      <a
        href={liveLink}
        class="rounded-full hover:-translate-y-1 hover:text-violet-700 duration-150 transition-[translate, text]"
        target="_blank">Live</a
      >
    </div>
  </div>
</article>
